<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="/swagger-dist/swagger-ui.css" />
    <link rel="icon" type="image/png" href="/swagger-dist/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/swagger-dist/favicon-16x16.png" sizes="16x16" />
    <style>
      html {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      body {
        margin:0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div style="position: absolute; top: 68px;width: 100%;padding: 0 16px;z-index: 1000;">
      <form action="" method="GET" style="display: flex;justify-content: center;align-items: center;">
        <label for="header-top-input-bearerAuth" style="margin-right: 8px;">Bearer Auth:</label>
        <input id="header-top-input-bearerAuth" type="text" name="bearerAuth" style="margin-right: 8px;flex-grow: 1;" />
        <button type="submit">Submit</button>
      </form>
    </div>
    <div id="swagger-ui"></div>

    <script src="{{ asset('swagger-dist/swagger-ui-bundle.js') }}" charset="UTF-8"> </script>
    <script src="/swagger-dist/swagger-ui-standalone-preset.js" charset="UTF-8"> </script>
    <script>
    window.onload = function() {
      // Begin Swagger UI call region
      const ui = SwaggerUIBundle({
        url: "{{ url('swagger.v3.json') }}",
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout",
        onComplete: function() {
          let bearerAuth = (new URLSearchParams(window.location.search)).get('bearerAuth');
          if (bearerAuth && bearerAuth !== '') {
            ui.preauthorizeApiKey('bearerAuth', bearerAuth);
            document.getElementById('header-top-input-bearerAuth').value = bearerAuth;
          }
        }
      });
      // End Swagger UI call region

      window.ui = ui;
    };
  </script>
  </body>
</html>
